#todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px lightcoral;
    border-radius: 50px;
    margin: 20px 50px 20px 50px;
    padding: 5px;
}
#todo-content{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    box-shadow: 0 0 5px lightcoral;
    border-radius: 50px;
    padding: 5px;
    
}
#todo-title{
    font-size: 1rem;
    color: black;
    font-weight: 300;
} 
#todo-task{
    box-shadow: 0 0 5px lightcoral;
    border-radius: 50px;
    padding: 4px;
    
}